*{
padding: 0;
margin: 0
}
body{
}

.slid_container{
    width: 1000px;
    margin: auto;
    height: 450px;
    position: relative;
    background-color: red;
    overflow: hidden;
}

.slid_container img{
    float: left;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0
}

.slid_container img.active{
opacity: 1
}

#slid_number{
    position: absolute;
    background-color: dodgerblue;
    top: 10px;
    margin-left: 22px;
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
    border-radius: 7px;
    z-index: 2;
    color: white;
}


.control_tools{
    width: 1000px;
    margin: auto
}

#ul{
    list-style: none;
    overflow: hidden;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 13px;

}

#ul li{
        width: 20px;
        height: 20px;
    background-color: red;
    margin: 2px;
    border-radius: 50%;
        line-height: 40px;
    cursor: pointer
}
#ul li.active
{
    background-color: dodgerblue
}

.btns #right_btn,.btns #left_btn{
    float: right;
    background-color: dodgerblue;
    font-size: 20px;
    color: black;
    width: 10%;
    color: white;
    padding: 4px 0;
    text-transform: capitalize;
text-align: center;
cursor: pointer;
}
.btns #right_btn.disabled,.btns #left_btn.disabled
{
    background-color: rgb(26, 101, 175);;
    cursor: no-drop
}
.btns #left_btn
{
float: left
}



#coloredUl{

    position: absolute;
    z-index: 3;
    right: 0;
    list-style: none;
}

#coloredUl li{
    background-color: red;
    width: 20px;
    height: 20px;
    margin: 7px;
    border-radius: 50%;
    cursor: pointer;
}

#coloredUl li:nth-child(1){
    background-color: dodgerblue;
}
#coloredUl li:nth-child(2){
    background-color: rgb(130, 238, 148);

}
#coloredUl li:nth-child(3){
    background-color: yellow;
}
#coloredUl li:nth-child(4){
    background-color: turquoise;
}


.dodgerblue{
background-color: dodgerblue !important;
}
.green{
background-color: yellowgreen !important;

}
.blue{
background-color: blue !important;

}

.turquoise{
background-color: turquoise !important;

}